{% extends 'student/student_base.html' %}

{% block title %}
    Student - Dashboard
{% endblock %}

{% block body %}
    <div class="container" style="margin: 100px;">
        <h1>админ панель</h1>
        <a href="{% url 'view_notices' %}" class="btn btn-warning" style="float: right; margin-top: -70px;">просмотр уведомлений</a>
        <table class="table">
    
            <tr>
                <th>имя студента</th>
                <td>{{student.full_name}}</td>

                <th>имя отца</th>
                <td>{{student.father_name}}</td>
            </tr>

            <tr>
                <th>пол</th>
                <td>{{student.gender}}</td>

                <th>имя мамы</th>
                <td>{{student.mother_name}}</td>
            </tr>

            <tr>
                <th>контактный номер</th>
                <td>{{student.contact_num}}</td>

                <th>электронная почта</th>
                <td>{{student.email}}</td>
            </tr>

            <tr>
                <th>адресс</th>
                <td>{{student.address}}</td>

                <th>город</th>
                <td>{{student.city}}</td>
            </tr>

            <tr>
                <th>студент id</th>
                <td>{{student.stu_id}}</td>

                <th>дата рождения</th>
                <td>{{student.date_of_birth}}</td>
            </tr>

            <tr>
                <th>курс</th>
                <td>{{student.course}}</td>

                <th>имя пользователя</th>
                <td>{{student.user_name}}</td>
            </tr>
        </table>
    </div>
{% endblock %}
